.section-header {
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.main-content {
    /* padding-left: 280px; */
    padding-right: 30px;
    padding-top: 80px;
    width: 100%;
    position: relative;
}

@media (max-width: 575.98px) {
    .main-content {
        /* flex-wrap: wrap; */
        padding-left: 0px;
        /* margin-bottom: 20px !important; */
    }
}

/* .section {
    position: relative;
    z-index: 1;
} */

.title {
    margin-bottom: 0;
    font-weight: 700;
    display: inline-block;
    font-size: 24px;
    margin-top: 3px;
    color: #34395e;
}

.section-header-breadcrumb {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* .row {
    display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

*/
.card {
    box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.profile-widget {
    margin-top: 35px;
}

.profile-widget-picture {
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
}

.profile-widget-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.profile-widget-description {
    padding: 20px;
    line-height: 26px;
}

.new-img {
    display: inline-block;
    margin-bottom: 0.5rem;
}