.file {
  display: inline-block;
  /* display: hidden; */

  width: 10%;
  /* padding: 58px 0px 0px 36px; */
  padding: 18px;
  height: 10px;
  margin-left: 165px;
  margin-top: -60px;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgb(255 187 56/1);
  /* visibility: hidden; */
  /* display: none; */
  border-radius: 999px;
}
