.main-content {
  padding-left: 280px;
  padding-right: 30px;
  padding-top: 80px;
  width: 100%;
  position: relative;
}
.dropdown-menu {
  box-shadow: 0 10px 40px 0 rgb(51 73 94 / 15%);
  border: none;
  width: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  z-index: 1;
}
.dropdown-menu a{
  color: #000;
}
.dropdown-menu>div{
  display: flex;
  flex-direction: column;
  background-color: white;
  /* gap:12px; */
  width: 200px;
 
  border-radius: 5px;
}
.dropdown-menu>div>a{
  padding: 15px;
}
@media (max-width: 1024px) {
  .main-content {
    padding-left: 30px;
    padding-right: 30px;
    width: 100% !important;
  }
}
