 .nav-widget-wrapper .nav ul li .sub-menu {
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}
.nav-widget-wrapper .nav ul li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.14) 0px 15px 50px 0px
}
.height{
    height:0px
}
.boxHeight{
    min-height: 295px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 15px 50px 0px;
}
.background{
    background-image:url('https://api.websolutionus.com/shopo/uploads/website-images/Mega-menu-2022-10-27-01-44-55-7811.png');
    background-size: contain;
    background-repeat: no-repeat,
}