.banner1 {
    background-image: url("https://api.websolutionus.com/shopo/uploads/website-images/Mega-menu-2022-10-27-01-43-51-3694.png");
    background-size: cover;
    background-repeat: no-repeat;
}